
body{
  padding: 15px;
  background-color: #ffffff;
}

header{
  text-align: right;
  margin-top: 0px;
}

.navigation{
  list-style-type: none;
  display: flex;
  text-align: center;
  width: 860px;
  padding: 20px;
  position: absolute;
  top: 20px;
}

.navigation li{
  flex: 10px;
  font-family: great vibes;
  font-size: 20px;
  background-color: #ffffff;
  padding: 10px;

}

.navigation a {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(227, 212, 255); 
}

.navigation a:hover{
  background-color: #252a5ed5;
  color: #ffffff; 
}

.image1_1, .image3{
  padding: 30px;
  
}

.mainpart{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.p1{
  grid-column: 2/2;
  text-align: center;
  background-color: rgb(227, 212, 255);
  padding: 10px;
  position: absolute;
  top: 90%;
  left: 760px;
  font-size: 20px;

}

.emma{
  grid-column: 2/2;
  position: absolute;
  top: 120%;
  left: 59%;
}

/* ABOUT US PAGE */

.image_about_us{
  grid-column: 2/2;
}

.div_about_us{
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}

.p_1_about_us{
  color: rgb(38, 26, 80);
  padding: 20px;
  background-color: rgb(216, 204, 216);
  text-align: center;
  display: block;
}

.brushes{
position: absolute;
padding: 50px;
}


/* CONTACT US PAGE */

.social_media{
  display:grid;
  grid-template-columns: 1fr 1fr;
  
}

.face{
  color:#FFFFFF;
  text-align: center;
  background-color: #1a3853e1;
  cursor: pointer;
  padding: 30px;
  position: absolute;
  left: 43%;
  top: 36%;
  text-decoration: none;
}

.instagram{
  color:#FFFFFF;
  text-align: center;
  background-color: #1a3853e1;
  cursor: pointer;
  padding: 30px;
  position: absolute;
  top: 55%;
  left: 43%;
  text-decoration: none;

}

.orale{
  margin-left: 184px;
}