
body{
  padding: 50px;
  background-color: #000000;
  margin-right: 1rem;
}

header{
  width: 1150px;
  background-color: white;
  text-align: center;
  align-items: center;  
}

main{
  width: 1150px;
}
.navigation{
  list-style-type: none;
  display: flex;
  padding: 0px;
  text-align: center;
}

.navigation li{
  flex: 10px;
  padding: 20px;
  font-family: great vibes;
  font-size: 20px;
  background-color: #080808;

}

.navigation a {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: white;
  color: #000000; 
}

.navigation a:hover{
  background-color: #fce15ed5;
  color: #f7f5a9; 
}

.logo{
  padding: 1rem;
}

.mainpart{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image1{
  width: 575px;
}

.image2{
  height: 765px;
  width: 575px;

}

/* ABOUT US PAGE */

.header_about_us{
  background-color: #000000;
  
}

.logo_img{
  position: absolute;
  right: 35px;
  top: 20px;
}

.nav_about_us{
  width: 860px;
  padding: 30px;

}

.image_about_us{
  grid-column: 1/2;
}

.div_about_us{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.p_1_about_us{
  color: white;
  grid-column: 2/2;
  padding: 20px;
}