/* Variables */
:root{
  --pad: 0px;
  --pad_5: 5px;
}

/* I will work with just images first */
.logo{
  height: 70px;
  width: auto;
  padding: var(--pad);
}

.image{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.image_1{
  grid-column: 1;
  margin-left: 20px;
}
.image_1:hover{box-shadow: 0px 0 30px #587564;}

.just1{
  float: left;
  grid-column: 1;
  grid-row: 1;
}
.just1:hover{box-shadow: 0px 0 30px #99907D;}


/* General style */
header, main, footer{
  width: 804px;
}


p{
  color: #60695C;
  padding: var(--pad_5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
  margin: 0 auto;
  background-color: #F9F9F9;
}

header{
  margin: 0 auto;
  margin-top: 20px;
  border: 5px solid #FFFFFF ;
  background-color: #FFFFFF ;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  justify-content: center;
}

footer{
  margin: 0 auto;
  border: 5px solid #253237;
  background-color: #253237;
  display: grid;
  grid-template-columns: 1fr 200px;
  align-items: center;
  justify-content: center;
  }

.footer{
  color: #F9F9F9;
}

body{
  font-size: 17px;
  margin: 0;
  padding: var(--pad);
  box-sizing: border-box;
  background-color: rgba(174, 204, 171, 0.815);
}

.mainnav{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: var(--pad);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.mainnav li {
  flex: 50px;
}

.mainnav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  background-color: #FFFFFF;
  border: 3px solid #FFFFFF;
  color: #006765; 

}

.mainnav a:hover{
  color: #FFFFFF; 
  background-color: #006765;
}


.title1 {
  position: absolute;
  margin-left: 190px;
  margin-top: 40px;
  color: #FFFFFF;
  background-color: rgba(174, 204, 171, 0.815);
}

.title_trip1{
  margin-left: 10px;
  background-color: #324d38;
  color: #F9F9F9;
  text-align: center;
}

/* Grid Stuff */

.div0{
  margin-top: 25px;
}

.div1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
}

.p1{
  grid-column: 2;
  grid-row: 2;
  background-color: rgba(152, 187, 152, 0.829);
  margin-top: 70px;
  margin-bottom: 100px;
  text-align: center;
  margin-right: 20px;
  color: #695733;
}

.div2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.p2{
  grid-column: 2;
}

.header3{
  text-align: center;
}

.p3{
  text-align: center;
}