/*HOME PAGE STYLE PART-----------------------------------------------------------*/ 
/* Variables */
:root{
  --pad: 0px;
  --pad_5: 5px;
}

/* Images */
.logo{
  height: 70px;
  width: auto;
  padding: var(--pad);
}

.river{
  padding: var(--pad);
  position: relative;
  left: 45px;

}

.image4{
  float: right;
  grid-column: 2;
  margin-left: 35px;
}
.image4:hover{box-shadow: 0px 0 30px #99907D;}

.imagee{
  float: left;
  grid-row: 2;
  margin: 25px;

}
.imagee:hover{box-shadow: 0px 0 30px #99907D;}

.email{
  height: 50px;
  position: relative;
  top: 8px;
}


/* General style */
header, main, footer{
  width: 804px;
  height: auto;
}

h1{
  color: #253237;
  padding: var(--pad_5);
  font-family: 'Times New Roman', Times, serif;
}

h2, h3{
  color: #d8dddd;
  padding: var(--pad_5);
  font-family: 'Times New Roman', Times, serif;
  background-color: #006765;

}

p{
  color: #60695C;
  padding: var(--pad_5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
}

main{
  margin: 0 auto;
  background-color: #F9F9F9;
  margin-bottom: 30px;
}

header{
  margin: 0 auto;
  margin-top: 20px;
  border: 5px solid #FFFFFF ;
  background-color: #FFFFFF ;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  justify-content: center;
}

footer{
  margin: 0 auto;
  margin-bottom: 20px;
  border: 5px solid #253237;
  background-color: #253237;
  display: grid;
  grid-template-columns: 1fr 200px;
  align-items: center;
  justify-content: center;
  }

.footer{
  color: #F9F9F9;
}

body{
  margin: 0;
  padding: var(--pad);
  box-sizing: border-box;
  background-color: #afc7d37c;
}

.mainnav{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: var(--pad);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.mainnav li {
  flex: 1 1 auto;
}

.mainnav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  background-color: #253237;
  border: 3px solid #FFFFFF;
  color: #FFFFFF; 

}

.mainnav a:hover{
  color: #FFFFFF; 
  background-color: #006765;
}

/* Grid Stuff */

.div1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
}

.p1{
  grid-column: 1;
}

.div2{
  display: grid;
  grid-template-columns: 402px 402px;
}

.title2{
  grid-column: 2;

}
.p2{
  grid-column: 2;
  grid-row: 2;
  margin-top: 30px;
}

.header3{
  text-align: center;
}

.p3{
  text-align: center;
  padding: 6px;
  padding-bottom: 15px;
}

/*COMBOS SUB-PAGE STYLE PART-----------------------------------------------------------*/ 

/*Images*/
.image_combo{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.trip_for_1 {
  grid-column: 1;
  margin-left: 50px;
  border-radius: 20%;
}
.trip_for_1:hover{box-shadow: 0px 0 30px #b8b083;}

.pair_trip{
  margin-left: 16px;
  border-radius: 20%;
}
.pair_trip:hover{box-shadow: 0px 0 30px #bfc7c2;}

.friends_trip{
  grid-column: 1;
  margin-left: 20px;
  border-radius: 20%;
}
.friends_trip:hover{box-shadow: 0px 0 30px #b8b083;}

.family_trip{
  grid-column: 2;
  margin-left: 15px;
  border-radius: 20%;
}
.family_trip:hover{box-shadow: 0px 0 30px #bfc7c2;}

.run_img{
  margin-left: 200px;
  margin-bottom: 80px;
  margin-top: 80px;
}

/*Texts*/

p{
  font-size: 15px;
}

.title1_combos {
  position: absolute;
  margin-left: 190px;
  margin-top: 40px;
  color: #FFFFFF;
  background-color: rgba(174, 204, 171, 0.815);
}

.title_trip1, .title_trip3{
  margin-left: 10px;
  background-color: #324d38;
  color: #F9F9F9;
  text-align: center;
}

.p1_combos, .p3_combos{
  grid-column: 2;
  grid-row: 2;
  background-color: rgba(152, 187, 152, 0.829);
  margin-top: 70px;
  margin-bottom: 100px;
  text-align: center;
  margin-right: 20px;
  color: #695733;
}

.title_trip2, .title_trip4{
  margin-right: 10px;
  background-color: #695733;
  color: #F9F9F9;
  text-align: center;
  grid-column: 2;
}

.p2_combos, .p4_combos{
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  background-color: #c4a76f;
  color: #324d38;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 90px;
}

.p3_combos{
  margin-top: 40px;
  margin-bottom: 85px;
}

.p4_combos{
  margin-top: 24px;
  margin-bottom: 120px;
  font-size: 14px;
}

.header3_combos{
  text-align: center;
  position:absolute;
  margin-left: 315px;
  top: 2210px;
}

.button{
  color:#FFFFFF;
  text-align: center;
  background-color: #931f1de1;
  position: absolute;
  top: 2330px;
  right: 480px;
  padding: 20px;
  cursor: pointer;

}

/*General Style*/
.body_combos{
  font-size: 17px;
  margin: 0;
  padding: var(--pad);
  box-sizing: border-box;
  background-color: rgba(174, 204, 171, 0.815);
}

.mainnav_combos li {
  flex: 50px;
}

.mainnav_combos a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  background-color: #FFFFFF;
  border: 3px solid #ffffff;
  color: #006765; 

}


/*Grid Stuff*/
.div0_combos{
  margin-top: 25px;
}

.div1_combos, .div2_combos, .div3_combos, .div4_combos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
}

.run{
  margin-bottom: 30px;
  background-color: rgba(174, 204, 171, 0.815);
}

/*CONTACT US SUB-PAGE STYLE PART-----------------------------------------------------------*/ 

.mainnav_contact a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  background-color: #FFFFFF;
  border-left: 3px solid #006765;
  color: #2b2b2b; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;

}

.mainnav_contact a:hover{ 
  background-color: #4d7973;
}


.title_contact{
  font-family:Montserrat;
  font-size: 40px;
  margin-left: 20px;
}

.main_contact{
  margin-top: 30px;
  height: 430px;
  display: grid;
  grid-template-columns: 402px 402px;
  grid-template-rows: 200px 100px;
}

.body_contact{
  background: #253237;
}

.contact_image{
  grid-column: 2;
  margin-top: 30px;
  margin-left: 30px;
}

.address{
  grid-row: 2;
  margin-top: 30px;
}

.social_media_{
  position: absolute;
  top: 450px;
  left: 340px;
}

.button_contact{
  background-color: rgba(40, 139, 20, 0.993);
  padding: 20px;
  color:white;
  cursor: pointer;
}

.button_contact{
  position: absolute;
  margin-left: 410px;
  margin-top: -70px;
  width: 150px;
  text-align: center;
}