
/* I will work with just images first */
.logo{
  height: 70px;
  width: auto;
  padding: 5px
}

.river{
  padding: 7px
}

.image4{
  position: relative;
  right: 310px;
}

.image5{
  position: relative;
  left: 380px;
}

.just1{
  position: relative;
  left: 10px;
}
.just1:hover{box-shadow: 0px 0 30px #99907D;}

.friends{
  position: relative;
  left: 17px;
}
.friends:hover{box-shadow: 0px 0 30px #99907D;}

.family{
  position: relative;
  left: 25px;
}
.family:hover{box-shadow: 0px 0 30px #99907D;}

.email{
  height: 50px;
  position: relative;
  top: 8px;
}

/* General style */
header, main, footer{
  width: 720px;
}

h1{
  color: #253237;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
}

h2, h3{
  color: #006765;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
}

p{
  color: #60695C;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
  margin: 0 auto;
  background-color: #F9F9F9;
}

header{
  margin: 0 auto;
  border: 5px solid #FFFFFF ;
  background-color: #FFFFFF ;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  justify-content: center;
}

footer{
  margin: 0 auto;
  border: 5px solid #C5D6D8;
  background-color: #C5D6D8;
  display: grid;
  grid-template-columns: 1fr 200px;
  align-items: center;
  justify-content: center;
}


body{
  font-size: 17px;
  margin: 0;
  padding: 5px;
}

.mainnav{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.mainnav li {
  flex: 1 1 auto;
}

.mainnav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  background-color: #C5D6D8;
  border: 3px solid #FFFFFF;
}

.mainnav a:hover{
  color: #C5D6D8;
  background-color: #648767;
}

