
/* I will work with just images first */
.logo{
  height: 70px;
  width: auto;
  padding: 0px
}

.river{
  padding: 0px;
  position: relative;
  left: 45px;

}

.image4{
  float: right;
  grid-column: 2;
}
.image4:hover{box-shadow: 0px 0 30px #99907D;}

.just1{
  float: left;
  grid-column: 1;
  grid-row: 1;
}
.just1:hover{box-shadow: 0px 0 30px #99907D;}



.email{
  height: 50px;
  position: relative;
  top: 8px;
}

/* General style */
header, main, footer{
  width: 804px;
}

h1{
  color: #253237;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
}

h2, h3{
  color: #d8dddd;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #006765;

}

p{
  color: #60695C;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
  margin: 0 auto;
  background-color: #F9F9F9;
}

header{
  margin: 0 auto;
  border: 5px solid #FFFFFF ;
  background-color: #FFFFFF ;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  justify-content: center;
}

footer{
  margin: 0 auto;
  border: 5px solid #253237;
  background-color: #253237;
  display: grid;
  grid-template-columns: 1fr 200px;
  align-items: center;
  justify-content: center;
  }

.footer{
  color: #F9F9F9;
}

body{
  font-size: 17px;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  background-color: #384a527c;
}

.mainnav{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.mainnav li {
  flex: 1 1 auto;
}

.mainnav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  background-color: #253237;
  border: 3px solid #FFFFFF;
  color: #FFFFFF; 

}

.mainnav a:hover{
  color: #FFFFFF; 
  background-color: #006765;
}

/* Grid Stuff */

.div1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
}

.p1{
  grid-column: 1;
}

.div2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.p2{
  grid-column: 2;
}

.header3{
  text-align: center;
}

.p3{
  text-align: center;
}