
/* TEXT STUFF */

h1{
  text-align: center;
  color: rgb(22, 30, 95);
}


/* LABEL FORMAT */

input{
  background-color:gainsboro;
  border-color: gainsboro;
}


.name, .email, .comments{
  margin-left: 30px;
  padding: 10px;
}


/* GRID STUFF */

form{
  display: grid;
}

/* GENERAL STUFF */

body{
  max-width: 600px;
  max-height: 900px;
  margin-left: 350px;
  margin-top: 20px;
}

/* BUTTON STUFF */

.button{
  margin-top: 20px;
  background-color: rgba(44, 73, 37, 0.863);
  border-color: rgba(44, 73, 37, 0.863);
  color: azure;
  margin-top: 40px;
  padding: 15px;
  margin-left: 170px;
  cursor: pointer;
}